@using System;
@using System.Web.Optimization

@* Returns: PageTitle, MetaLang, PageUrl *@
@Screw.DoTitleMagic()
@Screw.SetBaseUrl()

<!DOCTYPE html>
<html lang="@ViewBag.MetaLang">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        
        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.PageTitle</title>

        @Html.Partial("head/_meta")
        
        @Html.Partial("head/_dcme")
        @Html.Partial("head/_og")
        @Html.Partial("head/_social")

        @Html.Partial("head/_me")
        
        @Html.Partial("head/_ie9win8")
        @Html.Partial("head/_apple")

        @Html.Partial("head/_keys")
        
        <base href="@ViewBag.BaseUrl"/>
        
        @Html.Partial("head/_syndication")
        

        <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/favicon.ico")" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans|Bree+Serif&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
        <link href="@Styles.Url("~/bundles/css")" rel="stylesheet" type="text/css"/>
        
        <link rel="canonical" href="@ViewBag.PageUrl" />

        @RenderSection("head", false)

        @Html.Partial("_html5shiv")

    </head>
    
    <body>
        <!-- fb shit -->
        <div id="fb-root"></div>
        <!-- /fb shit -->

        <!-- header -->
        <header role="banner">
            <div>
                <a href="@Url.Action("AllPosts", "Posts")" rel="home">
                    <hgroup>
                        <h1>@ViewBag.BlogConfig.Title <small> @ViewBag.BlogConfig.SubTitle</small> </h1>
                        <h2>@ViewBag.BlogConfig.Tagline</h2>
                    </hgroup>
                </a>
                
                @{
                    Html.RenderPartial("_feeds");
                    Html.RenderPartial("_navigation");
                }
                
            </div>
        </header>
        <!-- /header -->

        <!-- content -->
        <div class="wrapper">
            
            <div class="content" id="content" role="main">
                
                <!--[if lt IE 7]>
                    <div class="alert alert-block">
                        <h4>Przestarzała przeglądarka</h4>
                        Wykorzystujesz <strong>przestarzałą</strong> przeglądarkę. Proszę  <a href="http://browsehappy.com/">zaktualizuj przeglądarkę</a>
                        albo zainstaluj <a href="http://www.google.com/chromeframe/?redirect=true">Google Chrome Frame</a> by móc w pełni korzystać ze strony.
                    </div>
                <![endif]-->

                <noscript>
                    <div class="alert alert-block alert-danger">
                        <h4>Uwaga!</h4>
                        Masz wyłączony JavaScript w przeglądarce. By móc w pełni skorzystać z bloga, niezbędne jest włączenie JavaScript.
                    </div>
                </noscript>
                
                @RenderBody()
            </div>
            
            @if (ViewBag.ShowAside == null || ViewBag.ShowAside)
            {
                <aside role="complementary">

                    @{
                        
                        Html.RenderAction("Me", "Aside");
                        Html.RenderAction("RecentComments", "Aside");
                        Html.RenderAction("Twitter", "Aside");
                        Html.RenderAction("Recommend", "Aside");
                    }
                    

                    @{
                        //Html.RenderAction("TagCloud", "Tags");
                    }

                </aside>
            }
        </div>
        <!-- /content -->

        <!-- footer -->
        @{
            Html.RenderPartial("_footer");
        }
        <!-- /footer -->
        
        @*<div style="display: none; visibility: hidden" id="gaId" data-gaid="@ViewBag.BlogConfig.GoogleAnalyticsKey"></div>*@
        <script type="text/javascript" src="@Scripts.Url("~/bundles/jquery")"></script>
        @*<script async="async" type="text/javascript" src="@Scripts.Url("~/bundles/social")"></script>*@
        <script async="async" type="text/javascript" src="@Scripts.Url("~/bundles/libs")"></script>
        
        @RenderSection("scripts", false)
        
        @Html.Partial("_googleAnalytics")
    </body>

</html>